.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
workloads/int_workload_gen
workloads/str_workload_gen
workloads/process_sosd
bench/bench

# Datasets
workloads/domains
workloads/SOSD

# RocksDB
tmp/

# Experiment Results
bench/*.txt